<%- include("./partials/header.ejs") %>
<h1 class="sec"><%= blog[0].blogname %> </h1>
<div class="buttons">
    <div class="blog"><%= blog[0].blogcontent %></div>
</div>
<%- include("./partials/footer.ejs") %>